@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@supports (backdrop-filter: blur(1px)) {
  .backdrop-blur-3xl {
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
  }
}

@layer components {
  @media print {
    section {
      page-break-before: always; /* Forces a page break before the section when printing */
    }
  }
}